/docker-compose.override.yaml
/docker-compose.override.yml

### IDE JetBrain - all other .idea files must be commited
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/dataSources/*

api/public/media
!api/public/media/.gitkeep